* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #333;
    font: 100%/1 "Helvetica Neue", Arial, sans-serif;
}

.login {
    height: 20rem;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10%;
    overflow: hidden;
}

.login:hover > .login-header, .login.focused > .login-header {
    width: 2rem;
}

.login:hover > .login-header > .text, .login.focused > .login-header > .text {
    font-size: 1rem;
    transform: rotate(-90deg);
}

.login.loading > .login-header {
    width: 100%;
}

.login.loading > .login-header > .text {
    display: none;
}

.login.loading > .login-header > .loader {
    display: block;
}

.login-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 20rem;
    background: #f06932;
    transition: width 0.5s ease-in-out;
}

.login-header > .text {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-family: Futura;
    text-align: center;
    line-height: 20rem;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.login-header > .loader {
    display: none;
    position: absolute;
    left: 30%;
    top: 5rem;
    width: 10rem;
    height: 10rem;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: loading 2s linear infinite;
}

.login-header > .loader:after {
    content: "";
    position: absolute;
    left: 4.5rem;
    top: -0.5rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    border-right: 2px solid #f06932;
}

.login-header > .loader:before {
    content: "";
    position: absolute;
    left: 4rem;
    top: -0.5rem;
    width: 0;
    height: 0;
    border-right: 1rem solid #fff;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
}

@keyframes loading {
    50% {
        opacity: 0.5;
    }
    100% {
        transform: rotate(360deg);
    }
}

.login-form {
    margin: 0 0 0 2rem;
    padding: 0.5rem;
}

.login-input {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: none;
    border-color: #ccc;
    border-width: 0 0 2px 0;
}

.login-input.register {
    font-size: 1rem;
}

.login-input + .login-input {
    margin: 10px 0 0;
}

.login-input:focus {
    outline: none;
    border-bottom-color: #f06932;
}

.login-btn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 5rem;
    height: 5rem;
    border: none;
    background: #f06932;
    border-radius: 50%;
    font-size: 0;
    border: 0.6rem solid transparent;
    transition: all 0.3s ease-in-out;
}

.login-btn:after {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    width: 0;
    height: 0;
    border-left: 2.4rem solid #fff;
    border-top: 1.2rem solid transparent;
    border-bottom: 1.2rem solid transparent;
    transition: border 0.3s ease-in-out 0s;
}

.login-btn:hover, .login-btn:focus, .login-btn:active {
    background: #fff;
    border-color: #f06932;
    outline: none;
}

.login-btn:hover:after, .login-btn:focus:after, .login-btn:active:after {
    border-left-color: #f06932;
}

#title {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    font-size: 3rem;
    font-family: Futura;
    background-color: darkgray;
    color: #fcfff6;
    text-align: left;
}

#error{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
}
footer {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    /*padding-top: 2%;*/
    /*padding-bottom: 2%;*/
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}
@media all and (max-width: 575px) {
    footer{
        visibility: hidden;
    }
}